#slider{
    height:400px;
    margin-top:20px;
    background-color:#fff;
}
.arrow{
    margin: 0 20px 0 20px;
    cursor:pointer;
    position:relative;s
}
.right{
    float:right;
}
.left{
    float:left;
}
.slide_dial{
    margin: 0 2px;
    position: relative;
    cursor: pointer
}
